{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Employee List</title>
</head>
<body>
    <h1>Employee List</h1>
    <a href="{% url 'employee_new' %}">Add New Employee</a>
    <ul>
        {% for employee in employees %}
            <li>
                <a href="{% url 'employee_detail' employee.pk %}">{{ employee.name }}</a>
                <a href="{% url 'employee_edit' employee.pk %}">Edit</a>
                <a href="{% url 'employee_delete' employee.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
